<div class="game final-jeopardy-answer-submission">
    <%= live_component @socket, JeopardyWeb.FinalJeopardySubmissionComponent, player: @player,
    id: "2", clue: @current_clue, game: @game %>
</div>
