<div class="game daily-double">
    <%= if is_nil(@player.final_jeopardy_wager) do %>
        <%= live_component @socket, JeopardyWeb.WagerComponent, player: @player,
        id: "1", changeset: :wager, clue: @current_clue, game_code: @game.code %>
    <% else %>
        <p>
            Thanks!  Waiting for all contestants to finish submitting their wagers.
        </p>
    <% end %>
</div>
