<div class="trebek reading_clue">
    <div class="content">
        <div class="clue">
            <span><%= raw(@current_clue.clue_text) %></span>
        </div>

        <div class="instructions">
            <p>
                Read the clue out loud, then click below to start the timer.
            </p>
        </div>
    </div>

    <div class="action-area">
        <%= submit "Start timer", "phx-click": "start_timer_click", "phx-target": @myself %>
    </div>
</div>
