.game.answering_clue.you_buzzed_in {
    $speed: 250ms;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    padding: 20px;
    background-color: aliceblue;

    .container {
        display: grid;
        place-items: center;

        svg.lightbulb {
            width: 100px;
            height: 100px;
            fill: mediumseagreen;
            animation: lightbulb $speed $bounce-time-fn;
        }
        .instruction {
            margin: 20px; padding: 20px; max-width: 500px; min-width: 200px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            background: white;
            border-radius: 5px;
            text-align: center;
            animation: lightbulb-instruction $speed $bounce-time-fn;
        }
    }
    @keyframes lightbulb {
        from {
            transform: translateY(-25%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes lightbulb-instruction {
        from {
            transform: translateY(25%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
