.game.buzz {
    display: grid;
    height: 100%;
    align-items: center;
    padding: 20px;

    button {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.game.early_buzz_penalty {
    display: grid;
    height: 100%;
    place-items: center;
    padding: 20px;
    background-color: aliceblue;

    .container {
        display: grid;
        place-items: center;

        svg.lock {
            width: 100px;
            height: 100px;
            fill: salmon;
            filter: drop-shadow(4px 4px 5px #999);
        }
        .instruction {
            margin: 20px; padding: 20px; max-width: 500px; min-width: 200px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            background: white;
            border-radius: 5px;
            text-align: center;
        }
    }
}
