.game.final-jeopardy-answer-submission {
    .circle {
        width: 30px;
        height: 30px;
        border: 2px solid #d2c9bc;
        border-radius: 50%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        background-color: #fff;
        margin: 10px auto;

        .second {
            height: 2px;
            position: absolute;
            margin-top: -1px;
            top: 50%;
            transform-origin: 100% 50%;
            width: 50%;
            background-color: #e45341;
            animation: rotation 60s steps(60) forwards;
        }
        @keyframes rotation {
            from { transform: rotate(90deg); }
            to { transform: rotate(450deg); }
        }
    }
}
