<div class="tv clue-display">
    <div class="display">
        <h1><%= raw(@current_clue.answer_text) %></h1>
    </div>
    <%= live_component @socket, JeopardyWeb.ScoreboardComponent,
    contestants: @players, game_id: @game.id, game: @game,
    buzzer: %{lock_status: @game.buzzer_lock_status, player_name: @game.buzzer_player} %>
</div>
