#bg {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -99999;
}

.homepage {
    #bg {
        background: #f9f9f9;
    }

    .options {
        color: #222;
        padding: 20px;
        margin: auto;
        max-width: 300px;
        form { margin: 0px; }
        input { background: #fff; }
    }

    .alert.has-content ~ .options {
        animation: $flash-animation;
    }

    &.tv {
        .header-instructions {
            font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
            text-shadow: 2px 2px 2px #666;
            padding: 0px 10px;
            font-size: 5rem;
            list-style: none;
            margin: 20px 0 0 0;
        }
        .share-prompt { margin-top: 20px; margin-bottom: 0px; }
        .room-code-label { margin-top: 0px; }
        .options ul { list-style: inside; }
    }
}
