.pow {
    .social-login {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        background: white;
        &:hover { background: white; }

        img, svg {
            width: 24px;
            height: 24px;
            align-self: center;
        }
        span {
            flex-grow: 1;
        }
    }

    .or {
        margin: 20px 0;
    }
}
