<h1>Welcome <%= @name %></h1>
<%= if @game.buzzer == nil do %>
    <%= submit "Buzz", "phx-click": "buzz" %>
<% else %>
    <%= submit "Buzz", "phx-click": "buzz", disabled: true %>
<% end %>
<%= if @game.buzzer != nil do %>
    <div><%= @game.buzzer %> buzzed in</div>
    <%= submit "Clear Buzzer", "phx-click": "clear"%>
<% end %>

<h3>Members</h3>
<%= for name <- @audience do %>
    <p><%= name %></p>
<% end %>
