<% class = if @early_buzz_penalty, do: "active", else: "" %>
<div class="game early_buzz_penalty <%= class %>" phx-click="early_buzz" phx-target="<%= @myself %>">
    <div class="container">
        <%= render CommonView, "svgs/lock.html", assigns %>
        <p class="instruction">
            You buzzed in too early.  Locked temporarily.
        </p>
    </div>
</div>
