<% penalty = Application.get_env(:jeopardy, :early_buzz_penalty) %>
<div id="early_buzz_penalty" phx-update="ignore">
    <div class="game early_buzz_penalty" phx-hook="EarlyBuzzPenalty" data-penalty-in-ms="<%= penalty %>">
        <div class="container">
            <%= render CommonView, "svgs/lock.html", assigns %>
            <p class="instruction">
                You buzzed in too early.  Locked temporarily.
            </p>
        </div>
    </div>
</div>
