.tv.homepage.awaiting_start {
    padding-bottom: 40px;
    .options {
        display: grid;
        place-items: center;
        max-width: 400px;
        p {
            margin: 0;
            text-align: center;
        }
    }
    .draw-name {
        &.hide {
            opacity: 0;
            transform: translateY(-100%);
            position: absolute;
            top: 0;
        }
        width: 95vw;
        padding: 0 20px;
        max-width: 500px;
        margin: auto;
        #canvas {
            display: block;
            width: 100%;
            height: calc(.6666 * 95vw);
            max-height: calc(.6666 * 500px);
            background: #0936B9;
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            .button:first-child {
                margin-right: 20px;
            }
        }
    }

    .podium-holder {
        width: 120px;
        margin: auto;
        display: flex;
        flex-direction: column;
        .podium {
            width: 120px;
        }
        .button {
            align-self: flex-end;
            margin: 20px 0 0 0;
        }
    }
}
