.tv.final-jeopardy .score-reveal {
    .details {
        display: none;
        font-size: 5rem;

        .name, .answer, .wager {
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }
    }
    .details.active {
        display: block;
        .name {
            animation: slidein .5s forwards;
        }

        .answer {
            animation: slidein .5s forwards;
            animation-delay: 2s;
        }
        .wager {
            animation: slidein .5s forwards;
            animation-delay: 4s;
        }
    }
}
