.tv.final-jeopardy.revealing_final_scores {
    .details {
        display: none;
        font-size: 5rem;
        text-align: center;

        .name, .answer, .wager {
            opacity: 0;
        }
    }
    .details.active {
        display: block;
        .name {
            animation: slidein .5s forwards;

            .signature {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 180px;
                height: 120px;
            }
        }

        .answer {
            animation: slidein .5s forwards;
            animation-delay: 4s;
        }
        .wager {
            animation: slidein .5s forwards;
            animation-delay: 8s;
        }
    }
    .podium {
        .score {
            div {
                opacity: 1;
                transition: transform .5s cubic-bezier(.54,1.85,.5,1);
                transition-property: transform;
            }
            .pre-fj-wager {
                transform: translateY(0);
            }
        }
        .score.incorrect {
            .final-score, .wager {
                transform: translateY(-100%);
            }
            .wager {
                background: #E94860;
            }
        }
        .score.correct {
            .final-score, .wager {
                transform: translateY(100%);
            }
            .wager {
                background: #00e359;
            }
        }
        .score.revealed {
            .final-score {
                transform: translateY(0);
                background: #0015BE;
            }
        }
        .score.revealed.incorrect {
            .pre-fj-wager { transform: translateY(100%); }
            .wager {
                animation: score-reveal-incorrect 3s;
            }
        }
        .score.revealed.correct {
            .pre-fj-wager { transform: translateY(-100%); }
            .wager {
                animation: score-reveal-correct 3s;
            }
        }

        @keyframes score-reveal-incorrect {
            0%   { transform: translateY(-100%); animation-timing-function: cubic-bezier(.54,1.85,.5,1); }
            16%  { transform: translateY(0); }
            84%  { transform: translateY(0); animation-timing-function: cubic-bezier(.54,1.85,.5,1); }
            100% { transform: translateY(100%); }
        }
        @keyframes score-reveal-correct {
            0%   { transform: translateY(100%); animation-timing-function: cubic-bezier(.54,1.85,.5,1); }
            16%  { transform: translateY(0); }
            84%  { transform: translateY(0); animation-timing-function: cubic-bezier(.54,1.85,.5,1); }
            100% { transform: translateY(-100%); }
        }
    }
}
