.tv.final-jeopardy.revealing_final_scores {
    .details {
        display: none;
        font-size: 5rem;
        text-align: center;

        .name, .answer, .wager {
            opacity: 0;
        }
    }
    .details.active {
        display: block;
        .name {
            animation: slidein .5s forwards;
        }

        .answer {
            animation: slidein .5s forwards;
            animation-delay: 2s;
        }
        .wager {
            animation: slidein .5s forwards;
            animation-delay: 4s;
        }
    }
    .podium > .score > .active {
        opacity: 1;
    }
    .podium > .score > span {
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
}
