.tv.selecting_clue {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 200px;
    justify-content: stretch;
    gap: 20px;
    position: relative;

    .board::after {
        width: 100vw;
        height: calc(100vh - 220px);
        content: "";
        background: blue;
        position: absolute;
        opacity: 0;

        animation: fadeout .3s;
    }
}
