<h1>Share this on your TV</h1>

<h2>Room Code: <%= @game.code %></h2>

<%= if length(@audience) > 0 do %>
    <h3>Today's contestants!</h3>
    <ul>
    <%= for name <- @audience do %>
        <li><%= name %></li>
    <% end %>
    </ul>
<% end %>
<%= if length(@audience) >= 2 do %>
    <%= submit "Start game", "phx-click": "start_game" %>
<% else %>
    <h3> Waiting on at least 2 players to join before we can start</h3>
<% end %>
