<h1>This is JEOPARDY!</h1>
<h2>With your host, <em><%= @game.trebek %></em></h2>

<h2>And introducing today's contestants:</h2>

<ul>
    <%= for player <- @players do %>
        <li><%= player.name %></li>
    <% end %>
</ul>

<h2>Today, you'll be playing a game that originally aired in <%= format_air_date(@game.air_date) %>
