<h1>Who wants to be the host for this game?</h1>
<h3>Today's contestants!</h3>
<ul>
    <%= for name <- @audience do %>
        <li><%= submit name, value: name, "phx-click": "trebek_selection", "phx-target": @myself %></li>
    <% end %>
</ul>
