<!DOCTYPE html>
<html lang="en">
    <head>

        <%= ga_tag() %>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tag() %>
        <title>Jeopardy</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/accounts.css") %>"/>
        <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/accounts.js") %>"></script>
    </head>
    <body>
        <header class="header">
            <div class="content">
                <a href="/" class="home-link"><img src="<%= Routes.static_path(@conn, "/images/home_logo.png") %>" alt="home"></a>
                <div class="account-container">
                    <%= if Pow.Plug.current_user(@conn) do %>
                        <a href="#" class="user-profile" onclick="toggle_user_profile_dropdown()">
                            <span class="email"><%= @current_user.email %></span>
                            <%= render JeopardyWeb.CommonView, "svgs/user_profile.html" %>
                        </a>
                        <div class="user-profile-dropdown">
                            <ul>
                                <%= link to: Routes.pow_registration_path(@conn, :edit) do %><li>Account</li><% end %>
                                <%= link to: Routes.pow_session_path(@conn, :delete), method: :delete do %><li>Sign Out</li><% end %>
                            </ul>
                        </div>
                    <% else %>
                        <a href="#" class="user-profile" onclick="toggle_user_profile_dropdown()">
                            <%= render JeopardyWeb.CommonView, "svgs/user_profile.html" %>
                        </a>
                        <div class="user-profile-dropdown">
                            <ul>
                                <%= link to: Routes.pow_session_path(@conn, :new) do %><li>Sign In</li><% end %>
                                <%= link to: Routes.pow_registration_path(@conn, :new) do %><li>Register</li><% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
        </header>

        <div class="onclick-void-holder" onclick="void(0);">
            <%= @inner_content %>
        </div>
    </body>
</html>
