<div>
  <.curved><%= render_slot(@curved) %></.curved>
  <main class="px-4 py-[10dvh] sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <%= render_slot(@inner_block) %>
    </div>
  </main>
</div>
