<div id="<%= @id %>" class="wager">
    <%= form_for @changeset, "#", [phx_change: :validate, "phx-target": "#{@id}", phx_submit: :save], fn f -> %>
        <%= telephone_input f, :amount, placeholder: @max, required: true,  "phx-debounce": "blur" %>
        <%= error_tag f, :amount %>
        <%= submit "Submit Wager" %>
    <% end %>
    <p class="instructions">
        Please make a wager between <%= score(@min) %> and <%= score(@max) %>.
    </p>
</div>
