<h1>Games</h1>

<table>
    <% fields = Jeopardy.Games.Game.__schema__(:fields) %>
    <thead>
        <tr>
            <%= for field <- fields do %>
                <th><%= field %></th>
            <% end %>
        </tr>
    </thead>
    <%= for game <- @games do %>
        <tr>
            <%= for field <- fields do %>
                <td><%= Map.get(game, field) %></td>
            <% end %>
        </tr>
    <% end %>
</table>
