@import "jeopardy_common";
@import "animations";
@import "theme";
@import "app/header";
@import "app/pow";
@import "common/alerts";
@import "accounts/games";
@import "accounts/games/edit";
@import "accounts/board";

main.container {
    padding: 0 20px 20px 20px;
    .header-bottom {
        margin: 0 -20px;
    }
}

html, body, body > div > main { height: 100%; display: flex; flex-direction: column; }
body, body > div > main {
    display: grid;
    grid-template-rows: auto 1fr;
    > div {
        overflow: auto;
    }
}
body > div > main { grid-template-rows: auto auto 1fr; }
