@import "jeopardy_common";
@import "animations";
@import "theme";
@import "common/alerts";
@import "app/header";
@import "app/index";
@import "app/pow";
@import "app/select_game";


.phx-modal {
    display: grid;
    .phx-modal-content {
        align-self: start;
        text-align: center;
        width: auto;
        min-width: 300px;
        .content {
            margin-bottom: 20px;
            .name {
                margin: -20px -20px 20px -20px;
                padding: 20px;
                background-color: #a1c4fd;
                background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            }
        }
    }
}
