@import "animations";
@import "theme";
@import "app/header";
@import "app/index";
@import "app/pow";
@import "app/select_game";
@import "jeopardy_common";

.phx-modal {
    display: grid;
    .phx-modal-content {
        align-self: start;
        text-align: center;
        width: auto;
        min-width: 300px;
        .content {
            margin-bottom: 20px;
            .name {
                margin: -20px -20px 20px -20px;
                padding: 20px;
                background-color: #a1c4fd;
                background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            }
        }
    }
}
.alert {
    z-index: 0;
    max-width: 900px;
    margin: 20px auto;
    margin-bottom: 30px;
    min-width: unquote("min(100vw, 900px)");
    animation: slidedown .5s $bounce-time-fn forwards;
    transform: translateY(-400px);
    box-shadow: $box-shadow;
    border: 0;
}
