svg.checkmark {
    width: 30px;
    display: block;

    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.check {
            stroke-dashoffset: -100;
            // animation: dash-check .9s ease-in-out forwards;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
}
