@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cedarville+Cursive&family=Coming+Soon&family=Crafty+Girls&family=Dawning+of+a+New+Day&family=Dokdo&family=Roboto+Slab&family=Bungee&family=Gloria+Hallelujah&family=Rock+Salt&family=Vibur&display=swap');
@import "board";
@import "scoreboard";
@import "trebek/reading_clue";
@import "trebek/answering_clue";
@import "trebek/awaiting_buzzer";
@import "trebek/revealing_board";
@import "trebek/trebek";
@import "trebek/final_jeopardy_reveal";
@import "game/buzzer";
@import "game/game";
@import "tv/displaying_clue";
@import "tv/daily_double";
@import "tv/reveal_final_jeopardy_scores";
@import "tv/awaiting_buzzer";
@import "tv/revealing_board";
@import "tv/selecting_clue";
@import "index";
@import "theme";


.font_0 { font-family: "Vibur", cursive; font-size: 2.5rem; }
.font_1 { font-family: "Arizonia", cursive; }
.font_2 { font-family: "Cedarville Cursive", cursive; }
.font_3 { font-family: "Coming Soon", cursive; }
.font_4 { font-family: "Crafty Girls", cursive; }
.font_5 { font-family: "Dawning of a New Day", cursive; }
.font_6 { font-family: "Dokdo", cursive; font-size: 2.5rem; }
.font_7 { font-family: "Gloria Hallelujah", cursive; }
.font_8 { font-family: "Rock Salt", cursive; }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
