@import "phoenix-boilerplate";
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cedarville+Cursive&family=Coming+Soon&family=Crafty+Girls&family=Dawning+of+a+New+Day&family=Dokdo&family=Roboto+Slab&family=Bungee&family=Gloria+Hallelujah&family=Rock+Salt&family=Vibur&display=swap');

.font_0 { font-family: "Vibur", cursive; font-size: 2.5rem; }
.font_1 { font-family: "Arizonia", cursive; }
.font_2 { font-family: "Cedarville Cursive", cursive; }
.font_3 { font-family: "Coming Soon", cursive; }
.font_4 { font-family: "Crafty Girls", cursive; }
.font_5 { font-family: "Dawning of a New Day", cursive; }
.font_6 { font-family: "Dokdo", cursive; font-size: 2.5rem; }
.font_7 { font-family: "Gloria Hallelujah", cursive; }
.font_8 { font-family: "Rock Salt", cursive; }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button:focus {
    background-color: #0069d9;
    border: 0.1rem solid #0069d9;
}
button:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

@import "animations";
@import "theme";
.phx-modal {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: grid;
    place-items: center;
    .phx-modal-content {
        position: relative;
        box-shadow: $box-shadow;
        border-radius: 5px;
        border: none;
        animation: popin 200ms ease;
        animation: popin 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        max-width: 800px;
        margin: 0;
        .phx-modal-close {
            position: absolute;
            right: 8px;
            top: 0;
            font-size: 2rem;
        }
        button { margin-bottom: 10px; }
    }
}
