.scoreboard {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-shadow: 2px 2px 2px black;
}

.scoreboard > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    z-index: -1;
    grid-column: first / last;
    display: grid;
    grid-template-rows: 15px 5px 15px 5px 20px 1fr 10px;
}

.scoreboard > .bg > .brown {
    background: #5F3929;
}
.scoreboard > .bg > .light {
    background: #DAB777;
}
.scoreboard > .bg > .black {
    background: #221E21;
}

.podium {
    display: grid;
    grid-template-rows: 50px 20px 70px 1fr;
    border-left: 5px solid #5F3929;
    border-right: 5px solid #5F3929;
    background: black;
    padding: 5px 5px;
    min-width: 70px;
    gap: 5px;
    position: relative;

    .stats {
        position: absolute;
        margin: 0 50%;
        display: flex;
        background: white;
        padding: 10px;
        transform: translate(-50%, -70px);
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        width: 90%;
        justify-content: center;
        height: 70px;
        align-items: flex-end;
        transition: .25s transform ,
                    .25s opacity ;
        &.active {
            opacity: 1;
            transform: translate(-50%, -100px);
        }
        .count {
            font-size: 1.3rem;
            text-shadow: none;
            margin: 0 10px -5px 10px;
            &.correct { color: #0b5050; }
            &.incorrect { color: #a02942; }
        }
        .bar {
            width: 5px;
            // border: 1px solid;
            border-bottom: none;
            height: 50px;

            &.correct {
                background: rgb(75, 192, 192);
            }
            &.incorrect {
                background: rgb(255, 99, 132);
                height: 20px;
            }
        }
    }
}
.podium > .name, .podium > .score {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    width: 100px;
}
.podium > .name {
    background: #0936B9;
    color: white;
}
.podium > .bg {
    background: #000B6E;
}
.podium.buzz > .bg {
    background: #e4e2c0;
    box-shadow: inset -4px -4px 4px 0px rgba(255,255,255,0.3), 0px 0px 30px 6px rgba(255,255,255,.5);
    animation: buzz-in .15s;
    @keyframes buzz-in {
    from { background: #000B6E; }
    to { background: #e4e2c0; }
}
}
.podium > .score {
    background: #0015BE;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    overflow: hidden;
    position: relative;
}
.podium > .score .negative {
    color: #E94860;
}

.podium > .score > div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    display: grid;
    place-items: center;
}
.podium > .score .pre-fj-wager,
.podium > .score .wager, {
    opacity: 0;
}
