<div style="display:grid; background:blue; color:white; place-items:center;">
    <div style="max-width:500px; padding:100px; font-family:serif; text-shadow:2px 2px 5px black; text-align: center">
        <h1><%= @game.current_clue.clue_text %></h1>
    </div>
</div>
