<div class="tv clue-display">
    <div class="display">
        <h1>That's the end of the Jeopardy round! Take a look at the scores, and once everyone's ready it's on to Double Jeopardy!</h1>
    </div>
    <%= live_component @socket, JeopardyWeb.ScoreboardComponent,
    contestants: @players, game_id: @game.id,
    buzzer: %{lock_status: @game.buzzer_lock_status, player_name: @game.buzzer_player} %>
</div>
