.trebek.answering_clue {
    .content .instructions {
        justify-self: center;
        display: grid;
        place-items: center;
    }
    .action-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height: 100%;
        background: aliceblue;
        button {
            height: 100%;
            width: 100%;
            margin: 0px;
            margin-bottom: 0px;
        }
        button.correct {
            background: #708E6B;
            border-color: #708E6B;
        }
        button.incorrect {
            background: #C8583E;
            border-color: #C8583E;
        }
    }
}
