.trebek.revealing_final_scores .score-reveal {
    li {
        color: #999;
    }
    li.active {
        color: black;
        background: white;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 5px 15px;
        transform: translateX(-15px);
    }


    button {margin: 0px;}
    .button-group {
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
    }
    button.correct {
        background: #708E6B;
        border-color: #708E6B;
        margin-right: 20px;
    }
    button.incorrect {
        background: #C8583E;
        border-color: #C8583E;
    }
}
