.trebek.reading_clue {

    .content {
        display: flex;
        flex-direction: column;

        .clue {
            display:grid;
            background:blue;
            color:white;
            place-items:center;
            font-size: 2rem;
            flex-grow: 1;
            span {
                max-width:500px;
                padding:20px;
                font-family:"Georgia";
                text-shadow:2px 2px 5px black;
                text-align: center;
            }
        }

        .instructions {
            text-align: center;
            padding: 10px;
            margin: 10px;
            border: 1px dashed lightblue;
            font-family: cursive;
            background: aliceblue;
            text-shadow: none;
            color: #333;
            border-radius: 10px;
            font-size: 1.6rem;
            max-width:500px;
            align-self: center;

            p { margin: 0; }
        }
    }
    .action-area button {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
}
