.trebek.reading_clue {
    .content {
        display: grid;
        grid-template-rows: 1fr auto;
        position: relative;
        overflow: hidden;
        background: aliceblue;

        .clue, .answer {
            background: blue;
            color: white;
            display: grid;
            place-items: center;
            padding: 20px;
            text-align: center;
            font-size: 3rem;
            font-family: Georgia;
            text-shadow: 2px 2px 2px black;
            span { animation: slidein .5s; }
        }

        .instructions {
            padding: 20px;
            background: white;
            text-shadow: none;
            color: black;
            border-radius: 5px;
            font-size: 1.6rem;
            min-height: 70px;
            max-width: 500px;
            text-align: center;
            margin: 20px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            align-self: center;
            p { margin: 0px; }
        }
    }
}
