.trebek.revealing_category,
.game.answering_clue {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-rows: 66% 1fr;
    // background: #F9F9F9;
    h1 { text-align: center; }
    p {
        margin: 0; padding: 20px; max-width: 500px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background: white;
    }
}

.trebek.revealing_answer {
    .content {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        .answer {
            flex-grow: 1;
            background: blue;
            color: white;
            display: grid;
            place-items: center;
            padding: 20px;
            text-align: center;
            font-size: 3rem;
            font-family: Georgia;
            text-shadow: 2px 2px 2px black;
        }

        .instructions {
            padding: 20px;
            // border: 3px dashed lightblue;
            font-family: cursive;
            background: aliceblue;
            text-shadow: none;
            color: black;
            border-radius: 10px;
            font-size: 1.6rem;
            min-height: 70px;
            max-width: 500px;
            text-align: center;
            margin: 20px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            align-self: center;
            p { margin: 0px; }
        }
    }
    .action-area button {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
}
