.trebek.revealing_answer,
.game.answering_clue {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-rows: 66% 1fr;
    // background: #F9F9F9;
    h1 { text-align: center; }
    p {
        margin: 0; padding: 20px; max-width: 500px;
        // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        background: white;
    }
}
