.trebek {
    display: grid;
    grid-template-rows: 1fr 15%;
    height: 100vh;
}

.trebek.revealing_board {
    .content {
        display: grid;
        place-items: center;
        position: relative;
        overflow: hidden;

        .instruction {
            padding: 20px;;
            border: 3px dashed lightblue;
            font-family: cursive;
            background: aliceblue;
            text-shadow: none;
            color: black;
            border-radius: 10px;
            font-size: 2rem;
            min-height: 70px;
            width: auto;
        }

        p {
            text-align: center;
            padding: 50px;
            position: absolute;
            opacity: 0;
            transform: translateX(100vw);
            background: blue;
            color: white;
            min-height: 50%;
            width: 100%;
            display: grid;
            place-items: center;
            text-shadow: 5px 5px 5px black;
            font-family: "Georgia";
            font-size: 3.6rem;
        }

        $speed: .75s;

        .processed {
            transform: translateX(-100vw);
            transition: opacity $speed ease, transform $speed ease;
        }

        .active {
            opacity: 1;
            transform: translateX(0);
            transition: opacity $speed ease, transform $speed ease;
        }
    }
    .action-area button {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
}
