.trebek.selecting_clue.show-board-control {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 10px;
}
.trebek.selecting_clue {
    // height: 100vh;
    background: aliceblue;
    display: block;
    animation: fadein .3s;

    .category, .clue {
        display: grid;
        place-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background: blue;
        padding: 10px;
        text-shadow: 2px 2px 2px black;
    }
    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;

        .category {
            color:white;
            font-size: 1.6rem;
            font-family: "Georgia";
            cursor: pointer;
        }
    }

    .instruction {
        place-self: center;
        margin: 0;
        place-self: center;
        margin: 0;
        padding: 10px 20px;
        background: white;
        text-shadow: none;
        color: black;
        border-radius: 5px;
        font-size: 1.6rem;
        max-width: 500px;
        text-align: center;
        margin: 10px 20px 0px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        align-self: center;
    }

    .category-selected {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        justify-items: center;
        h1 {
            font-size: 2rem;
            font-family: "Georgia";
            text-shadow: 2px 2px 2px black;
            background: blue;
            color: white;
            text-align: center;
            padding: 10px;
            height: 100%;
            width: 100%;
            display: grid;
            place-items: center;
            margin: 0;
        }
        .clues {
            display: grid;
            gap: 10px;
            margin-bottom: 0;
            padding: 10px;
            width: 100%;
            max-width: 500px;
            .clue {
                color:#DDA95E;
                font-size: 3rem;
                font-weight: bold;
                font-family: "Helvetica";
                .value { animation: slidein .2s; }
            }
            .clue.clickable { cursor: pointer; }
        }
        .footer {
            padding: 10px;
            padding-top: 0px;
            max-width: 500px;
            width: 100%;
            button { margin: 0; }
        }
    }
}
