<div class="trebek revealing_answer">
    <p>
        That's the end of the Double Jeopardy round.
        Read the players scores, take a break if need be, and click
        continue when everyone's ready to advance to Final Jeopardy.
    </p>
    <%= submit "Continue to final jeopardy", "phx-click": "advance_to_final_jeopardy"%>
</div>
