<div class="trebek recapping_scores">
    <div class="content single-instruction">
        <p class="instruction">
            That's the end of the <%= @game.status %> round. <br />
            Read the players scores, take a break if need be, and click
            continue when everyone's ready to advance.
        </p>
    </div>
    <div class="action-area">
        <%= submit "Continue to final jeopardy", "phx-click": "advance_to_final_jeopardy"%>
    </div>
</div>
