<div class="trebek awaiting_buzzer">
    <p>When you're finished reading the categories, click below to have move on to the first clue selection</p>
        <%= submit "Onward", "phx-click": "finished_intro" %>
</div>
