<div class="game daily-double">
    <%= if @game.board_control == @player.name do %>
        <%= live_component @socket, JeopardyWeb.WagerComponent, player: @player,
        id: "1", changeset: :wager, clue: @current_clue, game_code: @game.code %>
    <% else %>
        <p>
            <%= @game.board_control %> hit the Daily Double! <br />
            Waiting for them to make their wager
        </p>
    <% end %>
</div>
