<div class="game daily-double">
    <%= if @game.board_control == @player.name do %>
        <p>Tell <%= @game.trebek %> your answer when you're ready.</p>
    <% else %>
        <p>
            <%= @game.board_control %> hit the Daily Double! <br />
            Waiting for them to make their wager.
        </p>
    <% end %>
</div>
