<div class="game reading_daily_double single-instruction">
    <%= if @game.board_control == @player.name do %>
        <p class="instruction">Tell <%= @game.trebek %> your answer when you're ready.</p>
    <% else %>
        <p class="instruction">
            <%= @game.board_control %> hit the Daily Double! <br />
            Waiting for them to answer.
        </p>
    <% end %>
</div>
