<%= render "early_buzz_penalty.html", assigns %>
<div class="game reading_clue answering_clue single-instruction">
    <p class="instruction">
        Waiting for <%= @game.trebek %> to finish reading the clue.
    </p>
</div>
