<%= render "early_buzz_penalty.html", assigns %>
<div class="game answering_clue single-instruction" phx-click="early_buzz" phx-target="<%= @myself %>">
    <p class="instruction">
        Waiting for <%= @game.trebek %> to finish reading the clue.
    </p>
</div>
