<%= if @game.board_control == @name do %>
    <div class="game answering_clue single-instruction">
        <p class="instruction">
            Please select a clue from the board and tell <%= @game.trebek %>.
        </p>
    </div>
<% else %>
    <%= render "buzzer.html", assigns %>
<% end %>
