<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
as: "category",
id: "category-form",
phx_target: @myself,
phx_change: "validate",
phx_submit: "save" %>

<%= label f, :category %>
<%= text_input f, :category %>
<%= error_tag f, :category %>

<%= submit "Save", phx_disable_with: "Saving..." %>
</form>
