<h1>Thanks for hosting, <%= @game.trebek %></h1>

<p>
    As host, it's your job to read clues, call on contestants
    when they buzz, and determine if they got the clue right or wrong.
</p>

<p>
    When you're ready, click below to introduce the categories for Round One.
</p>

<%= submit "On to Round One!", "phx-click": "introduce_round_one_categories" %>
