$flash-animation: slidedown .5s $bounce-time-fn forwards;
.alert {
    z-index: 0;
    max-width: 900px;
    margin: 20px auto;
    margin-bottom: 30px;
    min-width: unquote("min(80vw, 900px)");
    animation: $flash-animation;
    transform: translateY(-400px);
    box-shadow: $box-shadow;
    border: 0;
}
