<div class="header-bottom">
    <div class="curved-div">
        <%= @inner_content %>
    </div>

    <svg width="0" height="0" class="curved-bottom-svg">
        <defs>
            <clipPath id="curved-bottom-clip-path" clipPathUnits="objectBoundingBox">
                <path d="M 0,0 L 0,.5 C .488,-.75 .475,1.75 1,.5 L 1,0 Z"/>
            </clipPath>
        </defs>
    </svg>
    <div class="curved-div-bottom"></div>
</div>
