<h1>Welcome to Jeopardy!</h1>

<%= form_for @conn, Routes.page_path(@conn, :index), fn f -> %>
    <%= text_input f, :name, placeholder: "Name" %>
    <%= text_input f, :code, placeholder: "ABCD", maxlength: "4", style: "text-transform: uppercase"%>
    <%= submit "Join" %>
<% end %>

<h2>or</h2>

<%= form_for @conn, Routes.game_path(@conn, :create), fn _ -> %>
    <%= submit "New Game" %>
<% end %>
