<h1>Welcome to Jeopardy!</h1>

<%= form_for @changeset, Routes.page_path(@conn, :index), fn f -> %>
    <%= text_input f, :name, placeholder: "Name", maxlength: 25 %>
    <%= error_tag f, :name %>
    <%= text_input f, :code, placeholder: "ABCD", style: "text-transform: uppercase", maxlength: 4 %>
    <%= error_tag f, :code %>
    <%= submit "Join" %>
<% end %>

<h2>or</h2>

<%= form_for @conn, Routes.game_path(@conn, :create), fn _ -> %>
    <%= submit "New Game" %>
<% end %>
